@model IEnumerable<UserListEdit>
@if (Model == null || !Model.Any())
{
    <div class="text-red-600">
        <p>Data not found</p>
    </div>
}
else
{
    <table class="table-auto border-collapse border border-gray-400 mt-10">
        <thead>
            <tr class="bg-gray-200">
                <th class="border border-gray-400 px-4 py-2">UserId</th>
                <th class="border border-gray-400 px-4 py-2">UserName</th>
                <th class="border border-gray-400 px-4 py-2">EmailAddress</th>
                <th class="border border-gray-400 px-4 py-2">UserPassword</th>
                <th class="border border-gray-400 px-4 py-2">UserAddress</th>
                <th class="border border-gray-400 px-4 py-2">UserProfile</th>
                <th class="border border-gray-400 px-4 py-2">UserRole</th>
                <th class="border border-gray-400 px-4 py-2">UserStatus</th>
                <th class="border border-gray-400 px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userDetails in Model)
            {
                <tr>
                    <td class="border border-gray-400 px-4 py-2">@userDetails.UserId</td>
                    <td class="border border-gray-400 px-4 py-2">@userDetails.UserName</td>
                    <td class="border border-gray-400 px-4 py-2">@userDetails.EmailAddress</td>
                    <td class="border border-gray-400 px-4 py-2">@userDetails.UserPassword</td>
                    <td class="border border-gray-400 px-4 py-2">@userDetails.UserAddress</td>
                    <td class="border border-gray-400 px-4 py-2">
                        <img src="~/UserProfile/@userDetails.UserProfile" alt="User Profile" class="w-16 h-16 object-cover rounded-full" />
                    </td>
                    <td class="border border-gray-400 px-4 py-2">@userDetails.UserRole</td>
                    <td class="border border-gray-400 px-4 py-2">@userDetails.UserStatus</td>
                    <td class="border border-gray-400 px-4 py-2">
                        <a asp-action="Details" asp-route-id="@userDetails.EncId" class="bg-gray-500 mx-auto py-[5px] rounded-md shadow-lg text-black-50 hover:text-blue-700">Details</a>
                        <a asp-action="Edit" asp-route-id="@userDetails.EncId" class="bg-blue-500 mx-auto py-[5px] rounded-md shadow-lg text-white hover\:bg-blue-900">Edit</a>
                        <a asp-action="Delete" asp-route-id="@userDetails.UserId" data-ajax="true" data-ajax-method="get" data-ajax-confirm="Are you sure want to delete this user?" data-ajax-complete="DeleteUser" class="bg-red-500 mx-auto py-[5px] rounded-md shadow-lg text-white hover\:bg-red-900">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}