@model List<MVCUserCrud.Models.UserListEdit>

<div class="d-flex flex-wrap flex-md-row justify-center mt-10">
    @if (Model == null || !Model.Any())
    {
        <div class="text-red-600">
            <p>Data not found</p>
        </div>
    }
    else
    {
        <table class="table-auto border-collapse border border-gray-400 mt-10">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-400 px-4 py-2">UserId</th>
                    <th class="border border-gray-400 px-4 py-2">UserName</th>
                    <th class="border border-gray-400 px-4 py-2">EmailAddress</th>
                    <th class="border border-gray-400 px-4 py-2">UserPassword</th>
                    <th class="border border-gray-400 px-4 py-2">UserAddress</th>
                    <th class="border border-gray-400 px-4 py-2">UserProfile</th>
                    <th class="border border-gray-400 px-4 py-2">UserRole</th>
                    <th class="border border-gray-400 px-4 py-2">UserStatus</th>
                    <th class="border border-gray-400 px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userDetails in Model)
                {
                    <tr>
                        <td class="border border-gray-400 px-4 py-2">@userDetails.UserId</td>
                        <td class="border border-gray-400 px-4 py-2">@userDetails.UserName</td>
                        <td class="border border-gray-400 px-4 py-2">@userDetails.EmailAddress</td>
                        <td class="border border-gray-400 px-4 py-2">@userDetails.UserPassword</td>
                        <td class="border border-gray-400 px-4 py-2">@userDetails.UserAddress</td>
                        <td class="border border-gray-400 px-4 py-2">@userDetails.UserProfile</td>
                        <td class="border border-gray-400 px-4 py-2">@userDetails.UserRole</td>
                        <td class="border border-gray-400 px-4 py-2">@userDetails.UserStatus</td>
                        <td class="border border-gray-400 px-4 py-2">
                            <a asp-action="Details" asp-route-id="@userDetails.EncId" class="text-blue-500 hover:text-blue-700">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<a asp-action="Create" asp-controller="Home" class="text-white py-2.5 px-5 mt-10 rounded-lg bg-blue-600 hover:bg-blue-800 focus:ring-blue-300 focus:outline-none focus:ring">Add new User</a>